body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2C365E
}

.color {
  font-family: Libre Franklin;
}
#Hero-Section {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family: libre franklin;
  color: #2C365E;
  background-color: #F8F9FA;
}

h2 {
  font-family: libre franklin; s
  font-weight: 400;
}

.bgcolor {
  background-color: #2C365E;
  font-family: Libre Franklin;

}

.nombre {
  font-family: Barrio, cursive;
  font-weight: 400;
  font-size: 2.500em;
  text-align: center;
  color: #000000;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h5 {
  font-family: Libre Franklin;
  font-weight: 400;
  color:#2C365E;
}

.designer {
  font-family: Barrio, cursive;
  font-weight: 400;
}

h3 {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}
