header h1 {
  font-family: Barrio, cursive;
  font-weight: 400;
  font-size: 4.500em;
}

h2 {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.nombre {
  font-family: Barrio, cursive;
  font-weight: 400;
  font-size: 2.500em;
  text-align: center;
}
